@import "tailwindcss";

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

@layer base {
  :root {
    --font-color: rgba(255,255,255,0.87);
    --bg-color: rgb(36,36,36);
    @apply text-(--font-color) bg-(--bg-color) font-sans;
  }

  body {
    @apply min-w-[320px] min-h-screen relative m-0;
  }
}